.MovieCard {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
  // width: 20%;
  width: 204px;
  height: 500px;
  margin: 20px;
  border: 2px solid #000;
  // padding: 10px;
  // min-height: 200px;
  // text-align: top;
  // vertical-align: top;
}

.card-body {
  padding: 20px;
}

img {
  // text-align: top;
  vertical-align: top;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}
