.MovieCard {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 520px;
  border: 2px solid #000;
  border-radius: 8px;
  margin: 20px;
  text-align: left;
  background-color: grey;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.55); }

.MovieCard:hover {
  box-shadow: 0px 5px 15px 3px rgba(118, 179, 181, 0.845); }

.favoriteToggle {
  position: relative;
  bottom: 280px;
  left: 255px;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url(./assets/notFavorite.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  color: transparent;
  font-size: 3rem;
  outline: none;
  background-color: transparent; }

.favoriteToggle:hover {
  cursor: pointer;
  transform: scale(1.3); }

.favorited .favoriteToggle {
  background-image: url(./assets/isFavorite.svg); }

.cardBody {
  padding: 0 20px;
  margin-top: -25px; }
  .cardBody h2 {
    margin-top: -0.8em;
    margin-bottom: .4em;
    font-size: 1.4em; }
  .cardBody p {
    margin-bottom: .4em;
    font-size: 1em; }
  .cardBody span {
    font-weight: bold; }
