header {
  height: 9rem;
}

.userControls {
  position: relative;
  bottom: 5rem;
  left: 67rem;
  display: flex;
  text-align: right;

  .navLink {
    text-decoration: none;
  }

  .favoritesButton {
    background-image: url('https://fontmeme.com/permalink/180521/3eca9b896f474ebbadf5a6e319ec2756.png');
    background-size: 90%;
  }

  .favoritesButton:hover {
    background-image:url('https://fontmeme.com/permalink/180521/ccdff501cc41a10b3c92255dced867cb.png');
    background-size: 80%;
  }

  .logOutButton {
    background-image: url('https://fontmeme.com/permalink/180521/bd5a24ecf1b03206300104fe5f4018b9.png');
    background-position-y: 80%;
  }

  .logOutButton:hover {
    background-image: url('https://fontmeme.com/permalink/180521/8caf3896f2126801e272c59b6e1f8dee.png');
  }

  button {
    display: flex;
    margin-right: 1.5rem;
  }

  p {
    position: relative;
    top: 55px;
    right: 330px;
    color: lightblue;
    font-family: 'Permanent Marker';
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}